In [1]:
import graphlab as gl
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

This non-commercial license of GraphLab Create is assigned to mkkedia@dons.usfca.edu and will expire on May 31, 2017. For commercial licensing options, visit https://dato.com/buy/.

[INFO] graphlab.cython.cy_server: GraphLab Create v1.10 started. Logging: /tmp/graphlab_server_1465164034.log

# Reviews EDA

## Things to do
- Num reviews by user distribution
- Num reviews by business distribution
- Number of ratings by date over history
- Vote type distribution
- top words after removing stop words (?)
- rating distribution 
- by city aggregation 


## Facts
- 2,225,213 reviews
- 

### Review Counts by city
    0	Las Vegas	958641
    2	Phoenix	848387
    8	Charlotte	140108
    10	Pittsburgh	92640
    5	Montreal	71689
    6	Madison	59455
    1	Edinburgh	27497
    7	Urbana-Champaign	16175
    3	Waterloo	4675
    9	Karlsruhe	3704
    4	Other	2242

(Doesn't match the businesses number, though is largely consistent)
### user review counts

- This is according to the reviews from businesses in these cities and may differ from the number found by doing an analysis of the users in these cities
- Also possibly all reviews by these users has not been provided. Possibly all reviews for the cities have been provided but all reviews for the users who have reviewed places in these cities have not been provided. This can be expected to be hugely different given the fact that we have Las Vegas as one of our locations - where we can expect people to have provided reviews from all over the place
- 552,339 users
- median is 1 
- 287,354 users have posted 1 reviews
- 93, 312 users have posted 2 reviews
- 46,920 users have posted 3 reviews
- 22.5 % users have posted more than 3 reviews
- 4.6 % users have posted more than 13 reviews
- 99% users have posted less than 42 reviews
- Max number of reviews posted is 1457 

### Citywise user reviews

    About 2% users have reviewed places in multiple cities 
    Number of reviewers in each city (out of the 550,000 odd users)
        Las Vegas - 269,576
        Phoenix - 196,708
        Charlotte - 38226


        acity	quantiles	distinct_users
    0	Las Vegas	[1.0, 1.0, 3.0, 1376.0]	269576
    2	Phoenix	[1.0, 2.0, 3.0, 1032.0]	196708
    8	Charlotte	[1.0, 1.0, 3.0, 760.0]	38226
    10	Pittsburgh	[1.0, 1.0, 3.0, 587.0]	26250
    5	Montreal	[1.0, 1.0, 3.0, 601.0]	20563
    6	Madison	[1.0, 1.0, 3.0, 704.0]	16703
    7	Urbana-Champaign	[1.0, 1.0, 2.0, 119.0]	5499
    1	Edinburgh	[1.0, 1.0, 3.0, 650.0]	4361
    3	Waterloo	[1.0, 1.0, 2.0, 92.0]	1804
    4	Other	[1.0, 1.0, 1.0, 27.0]	1642
    9	Karlsruhe	[1.0, 1.0, 3.0, 401.0]	941
    
### Business Review counts
- 77,079 businesses
- Long tail distribution
- Median is 8 reviews
- 75% businesses have less than 22 reviews
- 95% businesses have less than 112 reviews 


        +--------------------+---------------+----------+
        |        item        |     value     | is exact |
        +--------------------+---------------+----------+
        |       Length       |     77079     |   Yes    |
        |        Min         |      1.0      |   Yes    |
        |        Max         |     5042.0    |   Yes    |
        |        Mean        | 28.8692510282 |   Yes    |
        |        Sum         |   2225213.0   |   Yes    |
        |      Variance      | 8070.53392379 |   Yes    |
        | Standard Deviation | 89.8361504284 |   Yes    |
        |  # Missing Values  |       0       |   Yes    |
        |  # unique values   |      766      |    No    |
        +--------------------+---------------+----------+

        Most frequent items:
        +-------+-------+------+------+------+------+------+------+------+------+------+
        | value |   3   |  4   |  5   |  6   |  7   |  2   |  8   |  9   |  10  |  11  |
        +-------+-------+------+------+------+------+------+------+------+------+------+
        | count | 10237 | 7715 | 5706 | 4694 | 3827 | 3189 | 3114 | 2668 | 2298 | 1978 |
        +-------+-------+------+------+------+------+------+------+------+------+------+

        Quantiles: 
        +-----+-----+-----+-----+-----+------+-------+-------+--------+
        |  0% |  1% |  5% | 25% | 50% | 75%  |  95%  |  99%  |  100%  |
        +-----+-----+-----+-----+-----+------+-------+-------+--------+
        | 1.0 | 2.0 | 2.0 | 4.0 | 8.0 | 22.0 | 112.0 | 339.0 | 5042.0 |
        +-----+-----+-----+-----+-----+------+-------+-------+--------+

### Citywise Business review counts

- LV has a much higher median and 75% 
- Phoenix is next best
- Karlsruhe has max reviews at 31, compared to LV at 5042 
- LV has a distinctly higher Max review count then any other city 5042 compared to next highest of 1569 
- Review count by businesses by city quantiles 


        acity	distinct_businesses	quantiles
        Las Vegas	21221	[5.0, 10.0, 30.0, 5042.0]
        Edinburgh	3061	[3.0, 5.0, 10.0, 182.0]
        Phoenix	32610	[4.0, 8.0, 22.0, 1569.0]
        Waterloo	474	[4.0, 6.0, 12.0, 75.0]
        Other	180	[3.0, 4.0, 8.0, 891.0]
        Montreal	4941	[4.0, 6.0, 14.0, 1066.0]
        Madison	2802	[4.0, 8.0, 21.0, 932.0]
        Urbana-Champaign	737	[5.0, 10.0, 23.0, 573.0]
        Charlotte	6429	[4.0, 8.0, 20.0, 1068.0]
        Karlsruhe	873	[2.0, 3.0, 5.0, 31.0]

### Star review counts 
- Number of 5 star ratings are more than 1,2 and 3 combined ! 
- bias towards higher rating 
    - surprising because you expect people to review because they hate a place
    - instead they are reviewing because they like a place

            Most frequent items:
            +-------+--------+--------+--------+--------+--------+
            | value |   5    |   4    |   3    |   1    |   2    |
            +-------+--------+--------+--------+--------+--------+
            | count | 900940 | 591618 | 282115 | 260492 | 190048 |
            +-------+--------+--------+--------+--------+--------+

    
### Vote Count Analysis

- 1 million reviews have no votes
- 99% reviews have less than 21 votes
- 95% reviews have less than 8 votes
- Maximum of 447 votes on a review
- "useful" vote is much more widely used than 'cool' (1.6 Million reviews with 0 votes for 'cool') or 'funny' (1.7 Million reviews with 0 votes for 'funny')



        +--------------------+---------------+----------+
        |        item        |     value     | is exact |
        +--------------------+---------------+----------+
        |       Length       |    2225213    |   Yes    |
        |        Min         |      0.0      |   Yes    |
        |        Max         |     447.0     |   Yes    |
        |        Mean        | 2.01188021102 |   Yes    |
        |        Sum         |   4476862.0   |   Yes    |
        |      Variance      | 24.7626065167 |   Yes    |
        | Standard Deviation | 4.97620402683 |   Yes    |
        |  # Missing Values  |       0       |   Yes    |
        |  # unique values   |      223      |    No    |
        +--------------------+---------------+----------+

        Most frequent items:
        +-------+---------+--------+--------+--------+-------+-------+-------+-------+
        | value |    0    |   1    |   2    |   3    |   4   |   5   |   6   |   7   |
        +-------+---------+--------+--------+--------+-------+-------+-------+-------+
        | count | 1082553 | 395768 | 228296 | 164303 | 94315 | 60091 | 44478 | 30270 |
        +-------+---------+--------+--------+--------+-------+-------+-------+-------+
        +-------+-------+
        |   8   |   9   |
        +-------+-------+
        | 21854 | 17313 |
        +-------+-------+

        Quantiles: 
        +-----+-----+-----+-----+-----+-----+-----+------+-------+
        |  0% |  1% |  5% | 25% | 50% | 75% | 95% | 99%  |  100% |
        +-----+-----+-----+-----+-----+-----+-----+------+-------+
        | 0.0 | 0.0 | 0.0 | 0.0 | 1.0 | 2.0 | 8.0 | 21.0 | 447.0 |
        +-----+-----+-----+-----+-----+-----+-----+------+-------+

### Review count by city

In [ ]:
reviews = gl.load_sframe('yelp_dataset_challenge_academic_dataset/reviews/')

In [6]:
len(reviews)

2225213

In [4]:
b_df = gl.load_sframe('yelp_dataset_challenge_academic_dataset/business/')

In [7]:
review_city = b_df['business_id', 'acity'].join(reviews, on='business_id')

In [11]:
review_city.head(1)

Columns:
	business_id	str
	acity	str
	date	str
	review_id	str
	stars	int
	text	str
	type	str
	user_id	str
	votes	dict

Rows: 1

Data:
+------------------------+------------+------------+------------------------+-------+
|      business_id       |   acity    |    date    |       review_id        | stars |
+------------------------+------------+------------+------------------------+-------+
| 5UmKMjUEUNdYWqANhGckJw | Pittsburgh | 2012-08-01 | Ya85v4eqdd6k9Od8HbQjyA |   4   |
+------------------------+------------+------------+------------------------+-------+
+-------------------------------+--------+------------------------+
|              text             |  type  |        user_id         |
+-------------------------------+--------+------------------------+
| Mr Hoagie is an institutio... | review | PUFPaY9KxDAcGqfsorJp3Q |
+-------------------------------+--------+------------------------+
+-------------------------------+
|             votes             |
+-------------------------------+
| {'funny': 0, 'useful': 0, ... |
+-------------------------------+
[1 rows x 9 columns]

In [10]:
review_city.save('yelp_dataset_challenge_academic_dataset/reviews')

In [5]:
b_df.head(1)

Columns:
	attributes	dict
	business_id	str
	categories	list
	city	str
	full_address	str
	hours	dict
	latitude	float
	longitude	float
	name	str
	neighborhoods	list
	open	str
	review_count	int
	stars	float
	state	str
	type	str
	acity	str

Rows: 1

Data:
+-------------------------------+------------------------+
|           attributes          |      business_id       |
+-------------------------------+------------------------+
| {'Take-out': 'true', 'Driv... | 5UmKMjUEUNdYWqANhGckJw |
+-------------------------------+------------------------+
+--------------------------+------------+-------------------------------+
|        categories        |    city    |          full_address         |
+--------------------------+------------+-------------------------------+
| [Fast Food, Restaurants] | Dravosburg | 4734 Lebanon Church Rd\nDr... |
+--------------------------+------------+-------------------------------+
+-------------------------------+------------+-------------+-----------+---------------+
|             hours             |  latitude  |  longitude  |    name   | neighborhoods |
+-------------------------------+------------+-------------+-----------+---------------+
| {'Tuesday': {'close': '21:... | 40.3543266 | -79.9007057 | Mr Hoagie |       []      |
+-------------------------------+------------+-------------+-----------+---------------+
+------+--------------+-------+-------+----------+------------+
| open | review_count | stars | state |   type   |   acity    |
+------+--------------+-------+-------+----------+------------+
| true |      4       |  4.5  |   PA  | business | Pittsburgh |
+------+--------------+-------+-------+----------+------------+
[1 rows x 16 columns]

In [13]:
review_city.groupby('acity', gl.aggregate.COUNT('review_id')).to_dataframe().sort_values('Count', ascending=False)

               acity   Count
0          Las Vegas  958641
2            Phoenix  848387
8          Charlotte  140108
10        Pittsburgh   92640
5           Montreal   71689
6            Madison   59455
1          Edinburgh   27497
7   Urbana-Champaign   16175
3           Waterloo    4675
9          Karlsruhe    3704
4              Other    2242

### User review Counts

In [14]:
user_review_counts = review_city.groupby('user_id', gl.aggregate.COUNT('review_id'))#['Count'].sketch_summary()

In [15]:
user_review_counts['Count'].sketch_summary()

+--------------------+---------------+----------+
|        item        |     value     | is exact |
+--------------------+---------------+----------+
|       Length       |     552339    |   Yes    |
|        Min         |      1.0      |   Yes    |
|        Max         |     1457.0    |   Yes    |
|        Mean        | 4.02870881832 |   Yes    |
|        Sum         |   2225213.0   |   Yes    |
|      Variance      | 194.684691402 |   Yes    |
| Standard Deviation | 13.9529456174 |   Yes    |
|  # Missing Values  |       0       |   Yes    |
|  # unique values   |      430      |    No    |
+--------------------+---------------+----------+

Most frequent items:
+-------+--------+-------+-------+-------+-------+-------+------+------+------+
| value |   1    |   2   |   3   |   4   |   5   |   6   |  7   |  8   |  9   |
+-------+--------+-------+-------+-------+-------+-------+------+------+------+
| count | 287354 | 93312 | 46920 | 28454 | 18935 | 13426 | 9968 | 7606 | 6131 |
+-------+--------+-------+-------+-------+-------+-------+------+------+------+
+------+
|  10  |
+------+
| 4627 |
+------+

Quantiles:
+-----+-----+-----+-----+-----+-----+------+------+--------+
|  0% |  1% |  5% | 25% | 50% | 75% | 95%  | 99%  |  100%  |
+-----+-----+-----+-----+-----+-----+------+------+--------+
| 1.0 | 1.0 | 1.0 | 1.0 | 1.0 | 3.0 | 13.0 | 42.0 | 1457.0 |
+-----+-----+-----+-----+-----+-----+------+------+--------+

In [22]:
len(user_review_counts[user_review_counts['Count']>13])/float(len(user_review_counts))

0.0466434562831884

#### Number of cities a user has reviewed businesses in

In [26]:


user_review_count_city = review_city.groupby('user_id', {'count_city':gl.aggregate.COUNT_DISTINCT('acity')} )

In [28]:
user_review_count_city['count_city'].sketch_summary()

+--------------------+-----------------+----------+
|        item        |      value      | is exact |
+--------------------+-----------------+----------+
|       Length       |      552339     |   Yes    |
|        Min         |       1.0       |   Yes    |
|        Max         |       8.0       |   Yes    |
|        Mean        |  1.05419497808  |   Yes    |
|        Sum         |     582273.0    |   Yes    |
|      Variance      | 0.0630296385481 |   Yes    |
| Standard Deviation |  0.251057042419 |   Yes    |
|  # Missing Values  |        0        |   Yes    |
|  # unique values   |        8        |    No    |
+--------------------+-----------------+----------+

Most frequent items:
+-------+--------+-------+------+-----+----+---+---+---+
| value |   1    |   2   |  3   |  4  | 5  | 6 | 7 | 8 |
+-------+--------+-------+------+-----+----+---+---+---+
| count | 525146 | 24879 | 1954 | 305 | 46 | 7 | 1 | 1 |
+-------+--------+-------+------+-----+----+---+---+---+

Quantiles:
+-----+-----+-----+-----+-----+-----+-----+-----+------+
|  0% |  1% |  5% | 25% | 50% | 75% | 95% | 99% | 100% |
+-----+-----+-----+-----+-----+-----+-----+-----+------+
| 1.0 | 1.0 | 1.0 | 1.0 | 1.0 | 1.0 | 2.0 | 2.0 | 8.0  |
+-----+-----+-----+-----+-----+-----+-----+-----+------+

In [31]:
user_city_reviews = review_city.groupby(['acity', 'user_id'], gl.aggregate.COUNT('review_id'))

In [34]:
len(user_city_reviews)

582273

In [ ]:
city_review_quantiles = user_city_reviews.groupby('acity',{'quantiles':gl.aggregate.QUANTILE('Count', [0.25, 0.5, 0.75, 1]), 
                                                           'distinct_users':gl.aggregate.COUNT('user_id')})
city_review_quantiles

In [42]:
city_review_quantiles.to_dataframe().sort_values('distinct_users', ascending=False)

               acity                quantiles  distinct_users
0          Las Vegas  [1.0, 1.0, 3.0, 1376.0]          269576
2            Phoenix  [1.0, 2.0, 3.0, 1032.0]          196708
8          Charlotte   [1.0, 1.0, 3.0, 760.0]           38226
10        Pittsburgh   [1.0, 1.0, 3.0, 587.0]           26250
5           Montreal   [1.0, 1.0, 3.0, 601.0]           20563
6            Madison   [1.0, 1.0, 3.0, 704.0]           16703
7   Urbana-Champaign   [1.0, 1.0, 2.0, 119.0]            5499
1          Edinburgh   [1.0, 1.0, 3.0, 650.0]            4361
3           Waterloo    [1.0, 1.0, 2.0, 92.0]            1804
4              Other    [1.0, 1.0, 1.0, 27.0]            1642
9          Karlsruhe   [1.0, 1.0, 3.0, 401.0]             941

### Business Review Count

In [43]:
business_review_counts = review_city.groupby('business_id', {'count':gl.aggregate.COUNT('review_id')})

In [45]:
business_review_counts['count'].sketch_summary()

+--------------------+---------------+----------+
|        item        |     value     | is exact |
+--------------------+---------------+----------+
|       Length       |     77079     |   Yes    |
|        Min         |      1.0      |   Yes    |
|        Max         |     5042.0    |   Yes    |
|        Mean        | 28.8692510282 |   Yes    |
|        Sum         |   2225213.0   |   Yes    |
|      Variance      | 8070.53392379 |   Yes    |
| Standard Deviation | 89.8361504284 |   Yes    |
|  # Missing Values  |       0       |   Yes    |
|  # unique values   |      766      |    No    |
+--------------------+---------------+----------+

Most frequent items:
+-------+-------+------+------+------+------+------+------+------+------+------+
| value |   3   |  4   |  5   |  6   |  7   |  2   |  8   |  9   |  10  |  11  |
+-------+-------+------+------+------+------+------+------+------+------+------+
| count | 10237 | 7715 | 5706 | 4694 | 3827 | 3189 | 3114 | 2668 | 2298 | 1978 |
+-------+-------+------+------+------+------+------+------+------+------+------+

Quantiles:
+-----+-----+-----+-----+-----+------+-------+-------+--------+
|  0% |  1% |  5% | 25% | 50% | 75%  |  95%  |  99%  |  100%  |
+-----+-----+-----+-----+-----+------+-------+-------+--------+
| 1.0 | 2.0 | 2.0 | 4.0 | 8.0 | 22.0 | 112.0 | 339.0 | 5042.0 |
+-----+-----+-----+-----+-----+------+-------+-------+--------+

#### Business review by city

In [46]:
business_review_counts.head(5)

Columns:
	business_id	str
	count	int

Rows: 5

Data:
+------------------------+-------+
|      business_id       | count |
+------------------------+-------+
| Xlpihd7zT4Li6PRJOXMtbQ |   6   |
| nKJERtWMwBF-eL3skiRiBw |   68  |
| UNOoJeOzTQgRCUjTup1avA |  147  |
| n9tzswbOPrdqoNlcWPRhtw |   10  |
| ab_OlG6OXMenmGWnA_BYaA |   10  |
+------------------------+-------+
[5 rows x 2 columns]

In [47]:
city_business_reviews = review_city.groupby(['acity', 'business_id'], {'count':gl.aggregate.COUNT('review_id')})

In [50]:
city_business_review_quantiles = city_business_reviews.groupby('acity',{'quantiles':gl.aggregate.QUANTILE('count', [0.25, 0.5, 0.75, 1]), 
                                                           'distinct_businesses':gl.aggregate.COUNT('business_id')})

In [51]:
city_business_review_quantiles

Columns:
	acity	str
	distinct_businesses	int
	quantiles	array

Rows: 11

Data:
+------------------+---------------------+---------------------------+
|      acity       | distinct_businesses |         quantiles         |
+------------------+---------------------+---------------------------+
|    Las Vegas     |        21221        | [5.0, 10.0, 30.0, 5042.0] |
|    Edinburgh     |         3061        |  [3.0, 5.0, 10.0, 182.0]  |
|     Phoenix      |        32610        |  [4.0, 8.0, 22.0, 1569.0] |
|     Waterloo     |         474         |   [4.0, 6.0, 12.0, 75.0]  |
|      Other       |         180         |   [3.0, 4.0, 8.0, 891.0]  |
|     Montreal     |         4941        |  [4.0, 6.0, 14.0, 1066.0] |
|     Madison      |         2802        |  [4.0, 8.0, 21.0, 932.0]  |
| Urbana-Champaign |         737         |  [5.0, 10.0, 23.0, 573.0] |
|    Charlotte     |         6429        |  [4.0, 8.0, 20.0, 1068.0] |
|    Karlsruhe     |         873         |   [2.0, 3.0, 5.0, 31.0]   |
+------------------+---------------------+---------------------------+
[11 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

### Star rating distribution

In [52]:
review_city.head(1)

Columns:
	business_id	str
	acity	str
	date	str
	review_id	str
	stars	int
	text	str
	type	str
	user_id	str
	votes	dict

Rows: 1

Data:
+------------------------+------------+------------+------------------------+-------+
|      business_id       |   acity    |    date    |       review_id        | stars |
+------------------------+------------+------------+------------------------+-------+
| 5UmKMjUEUNdYWqANhGckJw | Pittsburgh | 2012-08-01 | Ya85v4eqdd6k9Od8HbQjyA |   4   |
+------------------------+------------+------------+------------------------+-------+
+-------------------------------+--------+------------------------+
|              text             |  type  |        user_id         |
+-------------------------------+--------+------------------------+
| Mr Hoagie is an institutio... | review | PUFPaY9KxDAcGqfsorJp3Q |
+-------------------------------+--------+------------------------+
+-------------------------------+
|             votes             |
+-------------------------------+
| {'funny': 0, 'useful': 0, ... |
+-------------------------------+
[1 rows x 9 columns]

In [54]:
star_counts = review_city.groupby('stars', gl.aggregate.COUNT('review_id'))

In [60]:
review_city['stars'].sketch_summary()

+--------------------+---------------+----------+
|        item        |     value     | is exact |
+--------------------+---------------+----------+
|       Length       |    2225213    |   Yes    |
|        Min         |      1.0      |   Yes    |
|        Max         |      5.0      |   Yes    |
|        Mean        | 3.75609211343 |   Yes    |
|        Sum         |   8358105.0   |   Yes    |
|      Variance      | 1.86736942769 |   Yes    |
| Standard Deviation | 1.36651726212 |   Yes    |
|  # Missing Values  |       0       |   Yes    |
|  # unique values   |       5       |    No    |
+--------------------+---------------+----------+

Most frequent items:
+-------+--------+--------+--------+--------+--------+
| value |   5    |   4    |   3    |   1    |   2    |
+-------+--------+--------+--------+--------+--------+
| count | 900940 | 591618 | 282115 | 260492 | 190048 |
+-------+--------+--------+--------+--------+--------+

Quantiles:
+-----+-----+-----+-----+-----+-----+-----+-----+------+
|  0% |  1% |  5% | 25% | 50% | 75% | 95% | 99% | 100% |
+-----+-----+-----+-----+-----+-----+-----+-----+------+
| 1.0 | 1.0 | 1.0 | 3.0 | 4.0 | 5.0 | 5.0 | 5.0 | 5.0  |
+-----+-----+-----+-----+-----+-----+-----+-----+------+

In [58]:
star_counts.to_dataframe().sort_values('Count')

   stars   Count
0      2  190048
4      1  260492
3      3  282115
2      4  591618
1      5  900940

### Vote type analysis

In [61]:
review_city.head(1)

Columns:
	business_id	str
	acity	str
	date	str
	review_id	str
	stars	int
	text	str
	type	str
	user_id	str
	votes	dict

Rows: 1

Data:
+------------------------+------------+------------+------------------------+-------+
|      business_id       |   acity    |    date    |       review_id        | stars |
+------------------------+------------+------------+------------------------+-------+
| 5UmKMjUEUNdYWqANhGckJw | Pittsburgh | 2012-08-01 | Ya85v4eqdd6k9Od8HbQjyA |   4   |
+------------------------+------------+------------+------------------------+-------+
+-------------------------------+--------+------------------------+
|              text             |  type  |        user_id         |
+-------------------------------+--------+------------------------+
| Mr Hoagie is an institutio... | review | PUFPaY9KxDAcGqfsorJp3Q |
+-------------------------------+--------+------------------------+
+-------------------------------+
|             votes             |
+-------------------------------+
| {'funny': 0, 'useful': 0, ... |
+-------------------------------+
[1 rows x 9 columns]

In [62]:
review_city['total_votes'] = review_city['votes'].apply(lambda x: sum(x.values()))

In [64]:
review_city['total_votes'].sketch_summary()

+--------------------+---------------+----------+
|        item        |     value     | is exact |
+--------------------+---------------+----------+
|       Length       |    2225213    |   Yes    |
|        Min         |      0.0      |   Yes    |
|        Max         |     447.0     |   Yes    |
|        Mean        | 2.01188021102 |   Yes    |
|        Sum         |   4476862.0   |   Yes    |
|      Variance      | 24.7626065167 |   Yes    |
| Standard Deviation | 4.97620402683 |   Yes    |
|  # Missing Values  |       0       |   Yes    |
|  # unique values   |      223      |    No    |
+--------------------+---------------+----------+

Most frequent items:
+-------+---------+--------+--------+--------+-------+-------+-------+-------+
| value |    0    |   1    |   2    |   3    |   4   |   5   |   6   |   7   |
+-------+---------+--------+--------+--------+-------+-------+-------+-------+
| count | 1082553 | 395768 | 228296 | 164303 | 94315 | 60091 | 44478 | 30270 |
+-------+---------+--------+--------+--------+-------+-------+-------+-------+
+-------+-------+
|   8   |   9   |
+-------+-------+
| 21854 | 17313 |
+-------+-------+

Quantiles:
+-----+-----+-----+-----+-----+-----+-----+------+-------+
|  0% |  1% |  5% | 25% | 50% | 75% | 95% | 99%  |  100% |
+-----+-----+-----+-----+-----+-----+-----+------+-------+
| 0.0 | 0.0 | 0.0 | 0.0 | 1.0 | 2.0 | 8.0 | 21.0 | 447.0 |
+-----+-----+-----+-----+-----+-----+-----+------+-------+

In [66]:
rcv = review_city.unpack('votes')

In [68]:
rcv['votes.cool'].sketch_summary()

+--------------------+----------------+----------+
|        item        |     value      | is exact |
+--------------------+----------------+----------+
|       Length       |    2225213     |   Yes    |
|        Min         |      0.0       |   Yes    |
|        Max         |     138.0      |   Yes    |
|        Mean        | 0.549643112817 |   Yes    |
|        Sum         |   1223073.0    |   Yes    |
|      Variance      | 2.80933346564  |   Yes    |
| Standard Deviation |  1.6761066391  |   Yes    |
|  # Missing Values  |       0        |   Yes    |
|  # unique values   |      105       |    No    |
+--------------------+----------------+----------+

Most frequent items:
+-------+---------+--------+--------+-------+-------+-------+------+------+------+
| value |    0    |   1    |   2    |   3   |   4   |   5   |  6   |  7   |  8   |
+-------+---------+--------+--------+-------+-------+-------+------+------+------+
| count | 1622610 | 374102 | 114800 | 45755 | 22519 | 13067 | 8370 | 5743 | 4222 |
+-------+---------+--------+--------+-------+-------+-------+------+------+------+
+------+
|  9   |
+------+
| 3007 |
+------+

Quantiles:
+-----+-----+-----+-----+-----+-----+-----+-----+-------+
|  0% |  1% |  5% | 25% | 50% | 75% | 95% | 99% |  100% |
+-----+-----+-----+-----+-----+-----+-----+-----+-------+
| 0.0 | 0.0 | 0.0 | 0.0 | 0.0 | 1.0 | 3.0 | 7.0 | 138.0 |
+-----+-----+-----+-----+-----+-----+-----+-----+-------+

In [69]:
rcv['votes.funny'].sketch_summary()

+--------------------+----------------+----------+
|        item        |     value      | is exact |
+--------------------+----------------+----------+
|       Length       |    2225213     |   Yes    |
|        Min         |      0.0       |   Yes    |
|        Max         |     142.0      |   Yes    |
|        Mean        | 0.441225177095 |   Yes    |
|        Sum         |    981820.0    |   Yes    |
|      Variance      | 2.36998538865  |   Yes    |
| Standard Deviation | 1.53947568628  |   Yes    |
|  # Missing Values  |       0        |   Yes    |
|  # unique values   |      104       |    No    |
+--------------------+----------------+----------+

Most frequent items:
+-------+---------+--------+-------+-------+-------+-------+------+------+------+
| value |    0    |   1    |   2   |   3   |   4   |   5   |  6   |  7   |  8   |
+-------+---------+--------+-------+-------+-------+-------+------+------+------+
| count | 1753578 | 288974 | 88437 | 37108 | 18934 | 11212 | 7073 | 4889 | 3488 |
+-------+---------+--------+-------+-------+-------+-------+------+------+------+
+------+
|  9   |
+------+
| 2413 |
+------+

Quantiles:
+-----+-----+-----+-----+-----+-----+-----+-----+-------+
|  0% |  1% |  5% | 25% | 50% | 75% | 95% | 99% |  100% |
+-----+-----+-----+-----+-----+-----+-----+-----+-------+
| 0.0 | 0.0 | 0.0 | 0.0 | 0.0 | 0.0 | 2.0 | 6.0 | 142.0 |
+-----+-----+-----+-----+-----+-----+-----+-----+-------+

In [70]:
rcv['votes.useful'].sketch_summary()

+--------------------+---------------+----------+
|        item        |     value     | is exact |
+--------------------+---------------+----------+
|       Length       |    2225213    |   Yes    |
|        Min         |      0.0      |   Yes    |
|        Max         |     167.0     |   Yes    |
|        Mean        | 1.02101192111 |   Yes    |
|        Sum         |   2271969.0   |   Yes    |
|      Variance      | 4.49691493202 |   Yes    |
| Standard Deviation | 2.12059306139 |   Yes    |
|  # Missing Values  |       0       |   Yes    |
|  # unique values   |      109      |    No    |
+--------------------+---------------+----------+

Most frequent items:
+-------+---------+--------+--------+--------+-------+-------+-------+-------+
| value |    0    |   1    |   2    |   3    |   4   |   5   |   6   |   7   |
+-------+---------+--------+--------+--------+-------+-------+-------+-------+
| count | 1224709 | 519700 | 225496 | 105772 | 54327 | 30636 | 18599 | 12248 |
+-------+---------+--------+--------+--------+-------+-------+-------+-------+
+------+------+
|  8   |  9   |
+------+------+
| 8321 | 5866 |
+------+------+

Quantiles:
+-----+-----+-----+-----+-----+-----+-----+------+-------+
|  0% |  1% |  5% | 25% | 50% | 75% | 95% | 99%  |  100% |
+-----+-----+-----+-----+-----+-----+-----+------+-------+
| 0.0 | 0.0 | 0.0 | 0.0 | 0.0 | 1.0 | 4.0 | 10.0 | 167.0 |
+-----+-----+-----+-----+-----+-----+-----+------+-------+